*{
    margin: 0;
    padding: 0;
}
body{
    background-color:  #f6f8f8;
}
.public-header {
    position: fixed;
    z-index: 998;
    width: 100%;
}
.public-header.header-top {
    position: absolute;
}
.public-navbar-main{
    background-color: #f6f8f8;
    float: right;
    position: fixed;
    z-index: 10;
    width: 100%;
    font-size: 1.2rem;
}
.public-navbar-main.nav-top {
    transition: box-shadow 1.5s ease, margin-top 1.5s ease;
    box-shadow: 0 0 0 rgb(0 0 0 / 0%);
}
.public-navbar-main.nav-top .container {
    border-bottom: 1px solid #9ea5a5;
}
.public-navbar-main .nav-brand {
    display: flex;
    align-items: center;
}
a.brand-logo {
    font-size: 1.4rem;
    text-decoration: none;
    display: inline-flex;
    height: 100%;
    transition: all 0.2s ease;
    color: #242929;
    line-height: 1;
    align-items: center;
    padding: 0;
}
a.brand-logo .lockup {
    display: flex;
    vertical-align: baseline;
}
a.brand-logo .name {
    color: #242929 !important;
    font-weight: 700;
}
.public-navbar-main .nav-menu {
    display: block;
    height: 80px;
}
.display-highlight{
    color:#242929;
    margin-bottom: 0.5em;
    line-height: 1em;
    letter-spacing: -0.05em;
    margin-top: 1.3em;
    font-size: 8em;
    font-weight: 700;
}
.bg-highlight{
    color: #3e4242;
    letter-spacing: -0.01em;
    font-size: 1.8rem;
    margin-bottom: 1.2em;
    font-family: none;
    font-weight: 500;
    line-height: 1.45;
    
}
.public-navbar-main .nav-menu div {
    display: flex;
    height: 100%;
}
.nav-menu ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}
.public-navbar-main .nav-menu li {
    margin-left: 0;
    margin-right: 1em;
}
.nav-menu li {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color: #3e4242;
    font-family: serif;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.45;
}
.p-t-lg{
    padding-top: 3rem !important;
    line-height: 1.2;
    font-family: initial;
    font-weight: 100;
    font-size: 20px;
    justify-content: center;
}
.rule-lg{
    border: none;
    border-bottom: 4px solid black;
    margin-top: 8rem;
    margin-bottom: 2rem;
}
.p_r_md{
    padding-right: 2rem !important;
}
.sticky{
    position: sticky;
    top: calc(80px + 1rem);
}
body .sticky {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.sticky h2{
    letter-spacing: 0.05em;
    transform: rotate(90deg);
    margin-bottom: 0;
    margin-top: 1.8em;
    font-size: 1.2em;
    font-family: inherit;
    font-weight: 700;
    color: #242929;
    line-height: 1.3;
}
.small{
    white-space: nowrap;
    font-weight: normal;
    font-size: 80%;
    line-height: 155%;
    border-bottom: none;
}
h2 a{
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(#159df8 0%, #159df8 100%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 0.1em;
    transition: background-size 0.2s ease;
}
.rule{
    border: none;
    border-bottom: 1px solid #9ea5a5;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.hidden-lg{
    display: none !important;
}
a.case-study-feature-item {
    display: block;
    padding: 1.5rem 1.5rem;
    margin: -1rem -1.5rem 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
a{
    color: inherit;
    text-decoration: none;
    border-bottom: none;
}
.row.row-10{
    grid-template-columns: repeat(10, 1fr);
}
.row.row-10 {
    grid-template-columns: repeat(10, 1fr);
}
.cs-thumb{
    display: block;
    background-color: transparent;
    min-height: 350px;
    width: 95%;
    overflow: hidden;
    position: relative;
}
.cs-thumb img{
    display: block;
    height: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.6s ease;
    position: absolute;
}
.title-block .project-status {
    display: block;
    margin-bottom: 1em;
}
.overline {
    font-size: 1em;
    line-height: 1;
    color: #585e5e;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 0.4em;
}
h3{
    font-size: 2rem;
}
p{
    margin-top: 0;
    margin-bottom: 1.2rem;
}
.p-t-sm{
    padding-top: 1rem !important;
}
.site-footer{
    background-color: #383E3E;
}
.text-dark {
    color: #ccc !important;
}
footer {
    padding: 4rem 0;
    font-size: 80%;
    line-height: 155%;
    display: block;
}
.container {
    width: 88vw;
    margin: 0 auto;
    padding: 0;
    max-width: 1400px;
}
.text-dark p {
    color: #ccc !important;
    border-color: #ccc;
}
p.small {
    font-size: 1.2rem;
    line-height: inherit;
}
.p-t-2xl {
    padding-top: 8rem !important;
}
.text-dark .light {
    opacity: 0.5;
}
.post-snippet{
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    width: 100%;
}
p a{
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(#159df8 0%, #159df8 100%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 0.1em;
    transition: background-size 0.2s ease;
}
.dark-theme p, .text-dark p {
    color: #ccc !important;
    border-color: #ccc;
}
footer p {
    color: rgba(255, 255, 255, 0.8);
}
p {
    margin-bottom: 1.2em;
    color: #3e4242;
}
p, li {
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.45;
    color: #3e4242;
}
.dark-theme p, .text-dark p {
    color: #ccc !important;
    border-color: #ccc;
}
p.small {
    font-size: 1.2rem;
    line-height: inherit;
}
.post-snippet img {
    mix-blend-mode: multiply;
    filter: grayscale(1);
}
img {
    height: auto;
    max-width: 100%;
}